
.movie-card {
    border-radius: 5px;
    width: 360px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "raleway";
    margin: 20px;
    border: 3px solid #8265a7;
    padding: 10px 20px;
}


.card-title {
    color: white;
    font-size: 18px;
    margin-top: 5px;

}

.card-description {
    color: white;
    font-size: 18px;    
}

.card-rating {
    margin-top: 5px;
    color: yellow;
    margin-right: 20px;
}

.read-review {
    color: white;
}

.rate-gen {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-genre {
    color: white;
}

.card-desc {
    color: white; 
}


