form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    padding: 30px 10px 10px 0px;  
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form div {
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

.rating-div {
    padding-right: 30px;
}

form div article {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;


}

form div article span {
    margin: 0px 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-label {
    color: white;
    font-family: "mickey";  
    margin-right: 10px;
    font-size: 20px;
    width: 90px;
}

.title-input{
    font-size: 18px;
    width: 200px;
    font-family: "raleway";
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 2px 0px 2px 8px;
}

select {
    font-size: 16px;
    font-family: "raleway";
    padding: 2px 0px 2px 8px;
}

form button {
    padding: 5px 9px;
    background-color: #8265a7;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: "raleway";
    text-shadow: 2px 2px black;
    margin: 10px 5px
}

form button:active {
    transform: translateY(3px);
}

textarea {
    resize:unset;
    font-size: 18px;
    width: 200px;
    height: 80px;
    font-family: "raleway";
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 2px 0px 2px 8px;
 
}

.description-div {
    align-items: flex-start;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
}